//
   Created by Bharath on 9/4/15.
extends layout
block content

   h1 Please resubmit your answers by choosing only one option for each question

   .col-xs-4.col-sm-3
      a(href='/login1' align="cente") Go to Quiz