//
   Created by Bharath on 9/12/15.

extends layout
block content
   nav(clas='navbar navbar-default navbar-fixed-top')
      .container-fluid
         .navbar-header.navbar-brand
            a(href='/home') EDISS Project2
         div
            ul(class='nav navbar-nav navbar-right' )
               li
                  a(href='/login') Login
               //li(class='dropdown')
                  a(href= "#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true" ,aria-expanded="false") Actions
                  ul(class='dropdown-menu')
                     li
                        a(href='/updateInfo') Update Information
                        a(href = '/logout') Logout
   .container-fluid
      .row
         .col-md-8
            h2 Search Results
      br
      table(class='table table-striped')
         thead
            tr
               th ID
               th ASIN
               th Title
               th Group
         tbody
         each key in data
            tr
            each item in key
               td(class='my_center')=item
